.colores{
    color: #274b69;
    color: #233d63;
    color: #85a1c1;
    color: #c6ccd8;
    color: #3f4d63;
    color: #333336;
    color: #202022;
    color: #181717;
    color: #87d205;
}

*{
    color: #c6ccd8;
}

h1, h2{
    color: #c6ccd8;
    margin: 1rem 0;
}

.form-filtro{
    display: flex;
    padding: 1.4rem;
    background-color: rgba(71, 71, 71, 0.4);
    align-items: center;
    gap: 1.4rem;
    padding: 1rem;
    border: solid 1px #3f4d63;
    border-radius: 1rem;
    color: #c6ccd8;
    font-size: 1.1rem;
    width: fit-content;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

thead{
    background: #181717;
}

th{
    font-weight: bold;
}

th, td{
    border: 1px solid #3f4d63;
    color: #c6ccd8;
    padding: 6px;
    min-width: 120px;
}

#tableBody{
    background: rgba(71, 71, 71, 0.4);
}

#mes, #anio{
    outline: none;
    padding: .3rem;
    border-radius: .3rem;
    border: solid 1px #3f4d63;
    background: none;
    color: whitesmoke;
    transition: all ease-in-out .1s;
}

#mes:focus, #anio:focus{
    background: #333336;
    outline: 3px solid rgba(108, 156, 228, 0.8);
}

#btn-filtrar{
    width: fit-content;
    padding: .6rem;
    border: 1px #233d63 solid;
    border-radius: 1rem;
    background: #274b69;
    color: #c6ccd8;
    transition: all ease-in-out .26s;
    font-weight: bold;
    cursor: pointer;
}

#btn-filtrar:hover{
    background: #214058;
}

.checkbox-group {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}
.checkbox-group label {
    display: flex;
    align-items: center;
    gap: 5px;
}
/* @media (max-width: 720px) {
    #principal{
        margin: 0;
    }
} */