.colores{
    color: #274b69;
    color: #233d63;
    color: #85a1c1;
    color: #c6ccd8;
    color: #3f4d63;
    color: #333336;
    color: #202022;
    color: #181717;
    color: #87d205;
}

#principal{
    width: 100%;
    padding: 1rem;
    overflow-x: auto;
}

.usuario_presente{
    font-weight: bold;
    color: whitesmoke;
    display: flex;
    justify-content: end;
    flex: 1;
}

.grafico-tipo-trabajadores {
    max-width: 380px;
    max-height: 300px;
    padding: 1.2rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: .8rem;
    border: solid 1px white;
    color: white;
    cursor: pointer;
}

@media(max-width: 720px){
    #grafico-tipo-trabajadores{
        max-width: 340px;
    }
}