.colores{
    color: #274b69;
    color: #233d63;
    color: #85a1c1;
    color: #c6ccd8;
    color: #3f4d63;
    color: #333336;
    color: #202022;
    color: #181717;
    color: #87d205;
}

.usuario_presente{
    font-weight: bold;
    color: whitesmoke;
    display: flex;
    justify-content: end;
    flex: 1;
}

/* Contenedor de gráficos */
.contenedor-graficos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta automáticamente las columnas */
    gap: 1rem;
    margin: 1rem auto;
    max-width: 1000px; /* Limita el ancho total del contenedor */
}

/* Estilo para cada gráfico */
.grafico1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.8rem;
    border: solid 1px white;
    /*background-color: rgba(0, 0, 0, 0.1);*/
}

.grafico2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.8rem;
    border: solid 1px white;
}

/* Estilo común para los gráficos */
#grafico-tipo-trabajadores {
    max-width: 100%;
    max-height: 300px;
    padding: 0;
}

/* #grafico-presencial-sede{
    max-width: 100%;
    max-height: 300px;
    padding: 0;
} */

/* Estilos para pantallas pequeñas */
@media (max-width: 800px) {
    .contenedor-graficos {
        grid-template-columns: 1fr; /* Coloca gráficos en una sola columna */
    }

    /* #grafico-presencial-sede{
        width: 50%;
        height: 400px;
    } */
}