*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    min-height: 100vh;
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #181717;
    border-bottom: solid 2px #233d63;
}

.content{
    background-color: #333336;
    display: flex;
    flex: 1; /*Propiedad para desplegar el contenido por la página*/
}

.colores{
    color: #274b69;
    color: #233d63;
    color: #85a1c1;
    color: #c6ccd8;
    color: #3f4d63;
    color: #333336;
    color: #202022;
    color: #181717;
}

.nav-options{
    width: 100%;
}

.nav-aside{
    background-color: #202022;
    width: 100%;
    min-width: 260px;
    max-width: 260px;
    display: flex;
    padding: 0 1.2rem;
}

.nav-aside ul {
    list-style-type: none;
}

.lista-enlace {
    /*padding: 1.2rem 0;*/
    font-weight: bolder;
    cursor: pointer;
    border: none;
    border-bottom: solid 1.5px transparent;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.lista-enlace::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: #294370;
    transition: width 0.3s ease-in-out;
}

.lista-enlace:hover::after {
    width: 100%;
}

.lista-enlace a{
    display: block;
    text-decoration: none;
    color: #c6ccd8;
    padding: 1.2rem 0;
}

/*
.lista-enlace a:hover {
    color: #85a1c1;
}*/


/* se oculta el aside por defecto en pantallas pequeñas */
#elementos-aside{
    display: flex;
    flex-direction: column;
    transition: all ease-in-out .6s;
}

.hidden {
    height: 0;
    transform: translateY(-999px);
}

#elementos-aside .show{
    height: 100%;
    display: grid;
    place-content: center;
    transform: translateY(0px);
}

#btn-mostrar-aside{
    transition: all ease-in-out .6s;
    cursor: pointer;
}

#btn-mostrar-aside:hover{
    transform: scale(104%);
}

@media(max-width: 720px){

    .content{
        flex-direction: column;
    }

    .nav-aside{
        position: absolute;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .nav-options{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}