*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    min-height: 100vh;
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.content{
    /* background: rgb(38,38,41);
background: linear-gradient(225deg, rgba(38,38,41,1) 0%, rgba(56,56,64,1) 1%, rgba(0,0,0,1) 58%); */
    background: rgb(38,38,41);
    background: linear-gradient(212deg, rgba(38,38,41,1) 0%, rgba(56,56,68,1) 0%, rgba(14,14,14,1) 42%);
    display: flex;
    flex: 1;
}

.logo{
    width: 200px;
}

.colores{
    color: #274b69;
    color: #1b3e72;
    color: #85a1c1;
    color: #c6ccd8;
    color: #3f4d63;
    color: #333336;
    color: #202022;
    color: #181717;
}

.nav-options{
    width: 100%;
}

.nav-aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #202022;
    width: 260px;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btn-cerrar-nav{
    color: aliceblue;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

#btn-cerrar-nav:hover{
    color: rgb(202, 28, 28);
    transform: rotate(90deg);
}

.nav-aside ul {
    list-style-type: none;
}

.lista-enlace {
    font-weight: bolder;
    cursor: pointer;
    border: none;
    border-bottom: solid 1.5px transparent;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.lista-enlace::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: #294370;
    transition: width 0.3s ease-in-out;
}

.lista-enlace:hover::after {
    width: 100%;
}

.lista-enlace a{
    display: block;
    text-decoration: none;
    color: #c6ccd8;
    padding: 1.2rem 0;
}

.header-responsive {
    display: none; /* Ocultar por defecto */
    background-color: #202022;
    padding: 1rem;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-responsive {
    height: 40px;
}

.menu-hamburguesa {
    background: none;
    border: none;
    color: #c6ccd8;
    font-size: 1.5rem;
    cursor: pointer;
}

#principal{
    width: 100%;
    padding: 1rem;
    overflow: auto;
    margin-left: 260px;
    padding: 1rem;
    overflow-y: auto;
    height: 100vh; 
}

#btn-mostrar-aside {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background: #274b69;
    color: #c6ccd8;
    border: none;
    padding: 0.6rem;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 15;
    display: none;
}

/* - Personalización del Scrollbar - */
/* ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    padding: .8rem;
}

::-webkit-scrollbar-track {
    background: #cfcece;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(33,42,79);
    background: linear-gradient(47deg, rgb(13, 16, 29) 0%, rgba(2,10,28,1) 49%, rgb(0, 22, 54) 100%);  
    border-radius: 10px;
} */

/* Personalización específica para .nav-aside */
/* .nav-aside::-webkit-scrollbar {
    width: 10px;
}

.nav-aside::-webkit-scrollbar-thumb {
    background: rgb(33,42,79);
    background: linear-gradient(47deg, rgb(13, 16, 29) 0%, rgba(2,10,28,1) 49%, rgb(0, 22, 54) 100%);   
    border-radius: 10px;
}

.nav-aside::-webkit-scrollbar-track {
    background: #cfcece;
    border-radius: 10px;
} */

/*Personalización específica para #principal*/
/* #principal::-webkit-scrollbar {
    width: 10px;
}

#principal::-webkit-scrollbar-thumb {
    background: rgb(33,42,79);
    background: linear-gradient(47deg, rgb(13, 16, 29) 0%, rgba(2,10,28,1) 49%, rgb(0, 22, 54) 100%);    
    border-radius: 10px;
}

#principal::-webkit-scrollbar-track {
    background: #cfcece;
    border-radius: 10px;
} */

/* - FIN Personalización del Scrollbar - */



@media(max-width: 1200px){
    .nav-aside{
        overflow-y: scroll;
    }
}

@media(max-width: 800px){

    .header-responsive {
        display: flex;
        justify-content: space-evenly;
    }

    .logo{
        visibility: hidden;
    }

    .nav-aside {
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #202022;
        z-index: 10;
        transition: transform 0.3s ease-in-out;
    }

    .nav-aside.active {
        transform: translateX(0);
    }

    #btn-cerrar-nav{
        opacity: 1;
        visibility: visible;
    }

    #btn-mostrar-aside {
        display: block;
    }

    #principal{
        margin: 0;
    }

    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    .nav-aside::-webkit-scrollbar {
        width: 4px;
    }

    #principal::-webkit-scrollbar {
        width: 4px;
    }
}