*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background: red;
}

header{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: #181717;
    border-bottom: solid 2px #233d63;
}

.content{
    background-color: #333336;
    display: flex;
    height: 100vh;
}

.colores{
    color: #274b69;
    color: #233d63;
    color: #85a1c1;
    color: #c6ccd8;
    color: #3f4d63;
    color: #333336;
    color: #202022;
    color: #181717;
}

.nav-aside{
    background-color: #202022;
    width: 100%;
    height: 100%;
    min-width: 260px;
    padding: 20px;
}

.nav-aside ul {
    list-style-type: none;
}

.lista-enlace {
    margin: 15px 0;
    color: #c6ccd8;
}

.lista-enlace a{
    text-decoration: none;
    color: #c6ccd8;
}

.lista-enlace a:hover {
    color: #85a1c1;
}

main{
    width: 100%;
    padding: 20px;
    overflow-x: auto;
}

h1{
    color: #c6ccd8;
    margin: 1rem 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

thead{
    background: #202022;
}

th{
    font-weight: bold;
}

th, td{
    border: 1px solid #3f4d63;
    color: #c6ccd8;
    padding: 6px;
    min-width: 120px;
}

#btn-agregar-personal{
    background-color: #164b99;
    color: whitesmoke;
    border-radius: 50%;
    font-weight: bold;
    font-size: medium;
    padding: .6rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    width: 54px;
    height: 54px;
    cursor: pointer;
    transition: all ease-in-out .4s;
    right: 60px;
    bottom: 60px;
    position: fixed;
}

#btn-agregar-personal:hover{
    background-color: #1d61c9;
    transform: scale(104%); 
}