
h2, h3{
    text-align: left;
    color: #c6ccd8;
    margin: 1.8rem 2rem;
}

.form-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-register{
    display: flex;
    max-width: 340px;
    width: 340px;
    border: solid .6px #233d63;
    flex-direction: column;
    padding: 3rem 1.4rem;
    gap: 1.2rem;
    box-shadow:  rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

label{
    color: #c6ccd8;
    font-size: 1.2rem;
    font-weight: bold;
}

input{
    padding: .3rem;
    outline: none;
    background: none;
    border: none;
    color: #c6ccd8;
    border-bottom: 1px solid white;
    font-size: 1.1rem;
}

input:focus{
    border-bottom:1px solid #87d205;
}

#rol{
    outline: none;
    padding: .3rem;
    font-size: 1rem;
}

#btn-registrar{
    width: fit-content;
    border: 1px #233d63 solid;
    border-radius: 1rem;
    padding: .6rem;
    background: #274b69;
    color: #c6ccd8;
    cursor: pointer;
    font-weight: bold;
    transition: all ease-in-out .26s;
    margin: auto;
}

#btn-registrar:hover{
    transform: translateY(3px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
