.colores{
    color: #274b69;
    color: #233d63;
    color: #85a1c1;
    color: #c6ccd8;
    color: #3f4d63;
    color: #333336;
    color: #202022;
    color: #181717;
}

#principal{
    width: 100%;
    padding: 1rem;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

thead{
    background: #181717;
}

th{
    font-weight: bold;
}

th, td{
    border: 1px solid #3f4d63;
    color: #c6ccd8;
    padding: 4px;
    text-align: center;
    font-size: .85rem;
}

.th-item{
    width: 60px;
}

.th-nombre-archivo{
    max-width: 400px;
}

.nombre-trabajador, .nombre-documento{
    color: #c6ccd8;
    margin: .6rem 0;
}

.btn-documento{
    outline: none;
    font-size: .8rem;
    border-radius: 8px;
    /* background: #233d63; */
    color: whitesmoke;
    /* border: solid 1px #1d61c9; */
    padding: 5px 8px;
    transition: all ease-in-out .3s;
    text-decoration: none;
}

.btn-documento:hover{
    cursor: pointer;
    color: rgb(182, 230, 200);
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

.documento-conenedor{
    margin: 1rem 0 3rem 0;
}